div {
    text-align: center;
    font-size: 110%;
}
button {
    background-color: antiquewhite; /* Green */
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}
label {
    font-size: 20;
    text-align: center;
    padding: 5;
}
img {
    max-width: 100%;
    height: auto;
    width: 420px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
}
