<ActionBar [title]="dish.name" backgroundColor="#ff7f50">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()">

    </NavigationButton>
</ActionBar>
<StackLayout>
    <label [text]="dish.name" textWrap="true"></label>
    <label [text]="dish.price"></label>
</StackLayout>
