<div>
    <h2>{{dish.name}}</h2>
    <div>
        Popis: {{dish.name}}
    </div>
    <div>
        Cena: {{dish.price}}
    </div>
    <img src="assets/1.jpg" alt="image">
    <br>
    <button (click)="onNavBtnTap()">Zpět na výpis</button>
</div>
