li {
    cursor: pointer;
}

FlexboxLayout {
    padding: 0;
    margin: 0;
}

StackLayout {
    padding: 0;
    margin: 0;
}

.labelHref {
    padding: 10;
    margin: 0;
    font-size: 20;
}

.restaurantNameColor {
    background-color: aliceblue;
}

.restaurantNameMobile {
    font-size: 20;
}
