<!-- Load Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2 class="restaurantNameColor">{{restaurant.name}}</h2>

<ul class="w3-ul w3-hoverable" *ngFor="let dish of restaurant.dishes">
    <li (click)="showDescription(dish)">
        <div>
            <span class="w3-large">{{dish.name}}</span><br>
            <span>{{dish.price}}</span>
        </div>
    </li>
</ul>
<br>
