<StackLayout>
    <label [text]="restaurant.name" class="restaurantNameColor restaurantNameMobile"></label>
</StackLayout>

<FlexboxLayout *ngFor="let dish of restaurant.dishes">
    <FlexboxLayout class= "labelHref" (tap)="showDescription(dish)">
        <Label [text]="dish.name + ' ' "></Label>
        <Label [text]="dish.price"></Label>
    </FlexboxLayout>
</FlexboxLayout>
