<div style="text-align:center">
  <h1 class="heading">
    {{ title }}
  </h1>

  <div *ngFor="let restaurant of allRestaurants as restaurant">
    <app-restaurant [restaurant]="restaurant" > </app-restaurant>
  </div>

</div>


