<ActionBar [title]="title" backgroundColor="#ff7f50">

</ActionBar>

<!--<ScrollView>-->
<!--    <ListView [items]="allRestaurantsObservable | async" class="list-group">-->
<!--        <ng-template let-restaurant="item">-->
<!--            <GridLayout rows="auto, auto" columns="*, auto" class="list-group-item">-->
<!--                <label [text]="restaurant.name"></label>-->
<!--                <app-restaurant [restaurant]="restaurant"></app-restaurant>-->
<!--            </GridLayout>-->
<!--        </ng-template>-->
<!--    </ListView>-->
<!--</ScrollView>-->

<ScrollView>
    <ListView [items]="allRestaurantsObservable | async " class="list-group">
        <ng-template let-item="item" let-odd="odd" let-even="even">
            <StackLayout class="list-group-item">
                <Label [text]="item.name" class="list-group-item"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

</ScrollView>
